@use '../utils' as u;
//wildcard @use '../utils' as * . we dont need to do u.font

html {
  font-size: 100%;
}

*,
**::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: utils.$primaryFont; //name space
  font-family: u.$primaryFont;
}
